{% extends "layout.html" %}

{% block title %}Michael's Mountain Biking Forum% endblock %}

{% block content %}
  <h1>Michael's Mountain Biking Forum</h1>
  <p>Welcome to Michaels biking forum. The only rules is that there are no rules!</p>
  
  {% if logged in %}
    <form action='/posted' method="post">
      <textarea name="message" style="width:100%; height:100px;"></textarea>
      <br>
      <input type="submit" value="Post">
    </form>
  {% else %}
     <p> you have to login to be able to post </p>
  {% endif %}
    
    
  
  {{ past_posts }}


{% endblock %}
